.header-container{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 50px;
     width: 100%;
     background-color: rgb(60, 60, 234);
     /* height: 50px; */
     color: white;
}


.logout-btn{
     padding: 10px 15px;
     border-radius: 10px;
     color: blue;
     font-size: 16px;
     border: 1px solid white;
     cursor: pointer;
}
.logout-btn{
     padding: 10px 15px;
     border-radius: 10px;
     color: blue;
     font-size: 16px;
     border: 1px solid white;
     /* background-color: ; */
}